body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  justify-content: center;
}

.mainWrapper,
.footerWrapper {
  max-width: 1200px;
  margin: 0px 5% 0 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.mainWrapper {
  min-height: 90vh;
}

.footerWrapper {
  min-height: 10vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  background-color: rgba(81, 203, 238, 1);
  border-radius: 5px;
  transition: 1s;
}

.centered {
  text-align: center;
}

input {
  border: 1px solid #000;
  max-width: 75%;
}

h1 {
  font-family: 'Ubuntu';
  border-bottom: 5px solid rgba(81, 203, 238);
}

.h1Flex i {
  margin: 10px 5px;
}

.h1Flex {
  display: flex;
}

form,
ul {
  margin-left: 20%;
  padding: 0;
}

.inputFlexParent {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
}

button {
  font-family: lora;
  margin: 15px 0 0 30%;
  border: 5px solid transparent;
  border-radius: 5px;
}

button i {
  margin-right: 5px;
}

button:hover,
button:focus {
  background-color: rgba(81, 203, 238, 1);
  border: 5px solid transparent;
  transition: 1s;
}

.spaceAbove {
  margin-top: 50px;
}

footer {
  margin-top: 75px;
}

footer p {
  text-align: center;
}

/* styling below for when you are in the form element  */
input[type=text], 
input[type=date],
input[type=time],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, 
input[type=date]:focus,
input[type=time]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

